.show-sub-wrapper {
  max-width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.post-card-wrapper {
  max-width: 25%;
  margin: 1em;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
}
.post-card-wrapper p {
  margin: 4px;
  padding: 4px;
  font-size: 0.8rem;
}
